@model atnet_web.Models.Address

@{
    ViewData["Title"] = "Smazat adresu";
}

<h1>Smazat</h1>

<h3>Opravdu si přejete smazat záznam z adresáře?</h3>
<div>
    <h4>Adresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-action="Index">zpět na seznam adres</a>
    </form>
</div>
